@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(15, 14, 14, 0.6), rgb(15, 14, 14, 0.6)), url(img/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 50px;
}

.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #000;
}

.logo{
    width: 25%;
}

.btn button{
    outline: 0;
    cursor: pointer;
    background-color: green;
    padding: 15px 35px;
    border-radius: 40px;
    border: 2px solid green;
    color: #fff;
}

.btn button:hover{
    background-color: transparent;
    color: green;
    border: 2px solid green;
    transition: background-color 0.3s ease-in-out;
}

.nav-icon{
    display: none;
}


@media (max-width: 500px) and (max-width: 1000px){
    .btn{
        display: none;
    }

    .nav-icon{
        display: block;
    }

    nav{
        position: relative;
    }

    .nav-links ul li{
        display: block;
        padding: 15px 0;
    }

    .nav-links{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        height: 25vh;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 20px;
        margin-top: 10px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-5%);
        transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    }

    .show{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .logo{
        width: 100%;
    }

    .nav-icon i{
        font-size: 30px;
    }
}